*~
*.o
build
build-*
libs
bin
Data
src/dvo
src/fastfusion
src/lsdslam
src/map2dfusion
src/math
src/slam
src/uav
*.user
*.pro.user*
cmake-build-debug
.idea
CMakeLists.txt.user
ThirdParty/g2o/build
ThirdParty/g2o/lib
ThirdParty/PIL-1.1.0
ThirdParty/PIL2

